@font-face {
  font-family: Syne;
  src: url(../public/Syne-Bold.ttf) format('truetype');
}

@font-face {
  font-family: SyneMedium;
  src: url(../public/Syne-Medium.ttf);
}
@font-face {
  font-family: Bebas;
  src: url(../public/Syne-ExtraBold.ttf);
}

p{
  font-family: SyneMedium;
  
}
h3{
  font-family: Syne;
  font-weight: 600;
  font-size: 72px;
}
h5{
  font-family: Syne;
}
h4{
  font-family: Syne;
}
span{
  font-family: Syne;
}
li{
  font-family: Syne;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Syne;
  
  
}
.BODY{
  padding: 0rem 10rem;
  
}
/* Section1 */
 li{
  list-style: none;
 }
.headingContact{
  font-size: 72px;
  font-family: Syne;
  font-weight: 500;
  max-width:40rem;
}




.sponsor{
  width: 100vw;
  height: 5rem;
}
/* Css for Slider */
/* Set the transition duration for smooth sliding */



@media screen and (max-width:900px){
  

.imageBlock1{
  width: 15rem;
  float: right;
}
.imageBlock2{
  width: 10rem;
  transform: translate(40%, 10%);
}
 
}

@media screen and (max-width:700px) {
 
  .sponsor{
    
    overflow:auto ;
    overflow-x: auto;
  }
 
  .Section1{
    padding: 0%;
  }
  .BODY{
    padding: 0%;
  }
  
  .pageSlider{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .innerSlider{
    flex-flow: column wrap;
  }
  .partners{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: auto;
    height: 40rem;
  }

  .headingContact{
    font-size: 32px;
  }
  .block-2{
    padding: 1.5rem;
  }
  .AboutUs{
    padding: 4rem 1px;
    flex-direction: column-reverse;  
  }
  
  .imageBlock1{
    width: 50%;
    float: right;
  }
  .imageBlock2{
    width:10rem;
    transform: translate(80%, 0%);
    
  }
  .contact-heading{
    margin-top: 0%;
  }

  
}

.name{
  font-weight: 600;
  font-size: 24px;
  margin-top: 1rem;
  max-width:60%;
  line-height: 28.8px;
}
.title{
  margin-top: 1rem;
  font-weight: 500;
}
input{
  background-color: transparent;
  height: 2rem;
  width: 100%;
  border-style: none;
  outline: none;
  color: white;
  border-bottom:1px solid rgba(77, 113, 160, 1) ;
}
